body {
  margin-top: 45px;
  margin-left: 100px;
  font-family: "Helvetica", Arial, sans-serif;
  color: #0F0860;
}

#movie_tickets {
  position: absolute;
  right: 0px;
  width: 150px;
  padding: 10px 50px;
}
