<html>
  <head>
    <title>Movie Reviews</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <img src="/movie_tickets.jpg" alt="movie_tickets" id="movie_tickets" style="width:150px;height:150px;">
    <h1>Movie Reviews</h1>
    <br>
    <% if flash[:message] %>
      <b><i><p class="message"><%= flash[:message] %></p></i></b>
    <% end %>
  <%= yield %>
  </body>
</html>
